<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sm_Form::request" title="Manage requests" module="Sm_Form" sortOrder="100" action="sm_form/request" resource="Sm_Form::request" />
    </menu>
</config>